---
import InnerPage from "../layouts/InnerPage.astro";
import InnerHero from "../components/InnerHero.astro";
import { getCurrentPage } from "../data/pages";
import { urlFor } from "../utils/sanity";

const currentPage = getCurrentPage("6d566278-d441-4734-b1e6-3895519c2a3a");
const { title, image, imageAlt, slug, seo } = currentPage;

const bgImage = urlFor(image).width(1000).auto("format").url();
---

<InnerPage
  title={seo.title}
  metaDescription={seo.description}
  preloadImg={bgImage}
>
  <InnerHero slot="hero" title={title} imageSrc={bgImage} imageAlt={imageAlt} />
  <div slot="content" class="flex">
    <div class="contact">
      <div class="angle"></div>
      <div class="">
        <h2 class="heading">For more info, contact:</h2>
        <p class="text">
          Jane Smith<br />
          Program Coordinator<br />
          <a href="">jsmith@whittier.edu</a><br />
          (562) 234-5678
        </p>
      </div>
    </div>
    <form class="form" name="contact" method="POST" data-netlify="true">
      <div class="form-title heading">Sign up for updates:</div>
      <div class="flow">
        <div class="form-item">
          <label for="contactName">Name</label>
          <input id="contactName" name="name" type="text" required />
        </div>
        <div class="form-item">
          <label for="contactEmail">Email</label>
          <input
            id="contactEmail"
            name="email"
            type="email"
            required
            autocomplete="email"
          />
        </div>
        <div class="form-item">
          <label for="contactPhone">Phone</label>
          <input
            id="contactPhone"
            name="phone"
            type="tel"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
            autocomplete="tel"
          />
        </div>
        <div>
          <input type="submit" />
        </div>
      </div>
    </form>
  </div>
</InnerPage>

<style>
  .flex {
    display: flex;
    gap: 2rem;
    padding-block: 3rem;
  }

  .contact {
    width: 45%;
  }

  .form {
    width: 50%;
  }

  .contact {
    text-align: right;
  }

  .relative {
    position: relative;
  }

  .angle {
    position: relative;
    right: -50px;
    height: 260px;
    width: 155px;
    float: right;
    background: var(--color-brand-secondary-light);
    clip-path: polygon(70% 0, 100% 0, 30% 100%, 0% 100%);
    shape-outside: polygon(70% 0, 100% 0, 30% 100%, 0% 100%);
  }

  .heading {
    color: var(--color-brand-secondary-light);
    font-family: var(--font-secondary);
    font-size: 16px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .text {
    font-size: var(--step-1);
    font-family: var(--font-primary);
    color: var(--color-brand-secondary-light);
  }

  .form .heading {
    margin-left: 75px;
  }

  .form .flow > :nth-child(1) {
    max-width: 450px;
    margin-left: 50px;
  }

  .form .flow > :nth-child(2) {
    max-width: 475px;
    margin-left: 25px;
  }

  .form-item {
    position: relative;
    background: #ccbcd3;
    padding: 9px 9px 9px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    border-bottom: 2px solid transparent;
    width: 100%;
    clip-path: polygon(4% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .form-item:focus-within {
    border-bottom: 2px solid var(--color-brand-secondary);
  }

  .form-item label {
    position: absolute;
    bottom: 4px;
    align-self: flex-end;
    font-family: var(--font-secondary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--color-brand-secondary-dark);
  }

  .form input {
    font-size: 15px;
    display: block;
    padding: 2px;
    margin: 0;
    border: none;
    background: #ccbcd3;
    color: var(--color-brand-secondary-dark);
  }

  .form input:focus-within {
    outline: none;
  }

  .form input[type="submit"] {
    font-family: var(--font-secondary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease;
    background: #dba226;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 9px;
    color: var(--color-brand-secondary-dark);
  }

  .form input[type="submit"]:hover {
    opacity: 0.8;
  }

  @media (max-width: 1000px) {
    .contact {
      width: 35%;
    }
  }

  @media (max-width: 768px) {
    .flex {
      flex-direction: column;
      overflow: hidden;
      gap: 5rem;
    }

    .angle {
      height: 160px;
      clip-path: polygon(60% 0, 100% 0, 40% 100%, 0 100%);
      width: 100px;
      right: -25px;
    }

    .contact,
    .form {
      width: 100%;
      padding-inline: var(--gutter);
    }

    .contact {
      padding-right: 25px;
      max-width: 400px;
    }

    .form .heading {
      margin-left: 0;
    }

    .form .flow > * {
      max-width: none !important;
      margin-inline: 0px !important;
    }

    .angle {
      display: none;
    }

    .contact {
      text-align: center;
      padding-inline: 0;
      margin-inline: auto;
    }
  }
</style>

<script>
  const phone_input = document.getElementById(
    "contactPhone"
  ) as HTMLInputElement;

  phone_input.addEventListener("input", () => {
    phone_input.setCustomValidity("");
    phone_input.checkValidity();
  });

  phone_input.addEventListener("invalid", () => {
    if (phone_input.value === "") {
      phone_input.setCustomValidity("Enter phone number.");
    } else {
      phone_input.setCustomValidity(
        "Enter phone number in this format: 555-555-5555."
      );
    }
  });
</script>
