---
import Layout from "../layouts/Layout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import ProjectGrid from "../components/ProjectGrid.astro";
// import { getCourses } from "../utils/sanity.js";
import { urlFor } from "../utils/sanity";
import { SEO } from "astro-seo";
import BackToTop from "../components/BackToTop.astro";
import { getCurrentPage } from "../data/pages";
import { projectGalleries } from "../data/projects";

import Button from "../components/Button.astro";

const getImageHeight = (width, aspectRatio) => {
  return Math.floor(width / aspectRatio);
};

// const projects = projectsGallery.entries;

const studentProjects = projectGalleries.find(
  (item) => item._id === "d4144ba3-ef1b-4cd5-be2d-f0a87a7a168f"
);

const currentPage = getCurrentPage("ad6f6c22-027d-479a-9747-48f42028feb8");
const { title, seo } = currentPage;
---

<Layout>
  <SEO
    slot="pageHead"
    title={seo.title}
    description={seo.description}
    openGraph={{
      basic: {
        title: seo.openGraph.title,
        type: "website",
        image: urlFor(seo.openGraph.image).width(1200).auto("format").url(),
      },
      optional: {
        description: seo.openGraph.description,
      },
    }}
  />
  <SiteHeader slot="header" />
  <main slot="main" class="content-wrapper">
    <div class="header">
      <h1 class="title">{title}</h1>
      <h2 class="subtitle">
        Student Work Samples from the Whittier College Undergraduate Program
      </h2>
      <h2 class="subtitle-mobile">Samples from undergraduate program</h2>
    </div>
    <div id="content"><ProjectGrid projects={studentProjects} /></div>

    <!-- <div class="project-grid">
      {
        projects.map((project) => (
          <article class="relative grid-item">
            <div class="grid-text flow">
              <h3>{project.name}</h3>
              <div class="spacer" />
              <p>{project.description}</p>
            </div>
            <img
              src={urlFor(project.image).width(1200).format("webp").url()}
              alt={project.name}
              width={1200}
              height={getImageHeight(
                1200,
                project.image.metadata.dimensions.aspectRatio
              )}
              data-aspectRatio={project.image.metadata.dimensions.aspectRatio}
            />
          </article>
        ))
      }
    </div> -->
    <BackToTop />
  </main>
  <div class="content-wrapper" slot="footer">
    <SiteFooter />
  </div>
</Layout>
<!-- <InnerPage>
  <InnerHero slot="hero" title="Gallery" />
  <div slot="content" class="">
    <ProjectGrid projects={projects} />
  </div>
</InnerPage> -->

<style>
  .content-wrapper {
    overflow-y: hidden;
  }

  .header {
    position: absolute;
    top: -25px;
    z-index: 5;
  }

  .title {
    z-index: 5;
    font-family: var(--font-emphasis);
    font-size: var(--step-10);
    color: var(--color-neutral-light);
    line-height: 1;
    letter-spacing: 1rem;
    text-transform: uppercase;
    padding-inline: 0;
  }

  .subtitle,
  .subtitle-mobile {
    color: var(--color-neutral-light);
    font-family: var(--font-secondary);
    font-size: 18px;
    letter-spacing: 0.13rem;
    margin-top: -22px;
    margin-left: 10px;
    text-transform: uppercase;
  }

  .subtitle-mobile {
    display: none;
  }

  .spacer {
    height: 3px;
    width: 3rem;
    background: var(--color-brand-primary-light);
    margin-inline: auto;
  }

  #content {
    margin-block-end: var(--space-xl);
  }

  @media (max-width: 1024px) {
    .title {
      font-size: var(--step-8);
    }

    .subtitle {
      margin-top: -14px;
      font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    .content-wrapper {
      padding-inline: 0;
    }
  }

  @media (max-width: 640px) {
    .title {
      letter-spacing: 0.5rem;
      font-size: var(--step-7);
    }

    .subtitle {
      display: none;
    }

    .subtitle-mobile {
      display: block;
      margin-top: 0px;
    }
  }

  @media (max-width: 480px) {
    .header {
      top: -12px;
    }

    .title {
      font-size: var(--step-6);
    }
  }
</style>
