---
import Layout from "../layouts/Layout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import Letters from "../components/Letters.astro";
import Button from "../components/Button.astro";
import HomeProjectGrid from "../components/Svelte/HomeProjectGrid.svelte";
import { getCurrentPage } from "../data/pages";
import { urlFor } from "../utils/sanity";
// import "../styles/heroBackgroundSvg.css";

import { projectGalleries } from "../data/projects";
// const projects = projectsGallery.entries.slice(0, 18);

const homeProjects = projectGalleries.find(
  (item) => item._id === "28de98e6-9ac9-451b-9239-6b071b5fc247"
);

const currentPage = getCurrentPage("c507649d-5e4d-4ce9-9d3b-3066bac1636c");

const { image, slug, seo } = currentPage;
// const bgImage = urlFor(image).width(1600).auto("format").url();
// const heroGradient = `background: url(${bgImage}) center / cover no-repeat, var(--full-gradient);`;
const heroGradient = `background: var(--full-gradient);`;
---

<Layout title={seo.title} metaDescription={seo.description}>
  <!-- <link slot="pageHead" rel="preload" href={bgImage} as="image" /> -->
  <SiteHeader layout="home" slot="header" />
  <main slot="main" class="main">
    <section class="hero" style={heroGradient}>
      <div class="header-grid content-wrapper">
        <h1 class="heading">
          <span class="desktop">Graphic Design Certificate Program</span>
        </h1>
        <h1 class="mobile-heading">Graphic Design Certificate</h1>
        <Letters />
      </div>
      <div class="scroll">
        <a href="#about">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M267.3 395.3c-6.2 6.2-16.4 6.2-22.6 0l-192-192c-6.2-6.2-6.2-16.4 0-22.6s16.4-6.2 22.6 0L256 361.4 436.7 180.7c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6l-192 192z"
            ></path></svg
          >
          <span class="sr-only">Scroll Down</span>
        </a>
      </div>
    </section>
    <div class="content">
      <article id="about" class="flow full-width-text">
        <p>
          <strong>Harness the power of design:</strong> The Graphic Design Certificate
          program equips working professionals with the artistic and technical knowhow
          to amplify brands and convey powerful messages through design.
        </p>
        <p>
          Taught by working designers, the program combines industry expertise
          with Whittier College’s tradition of interdisciplinary thinking in a
          small learning setting. This supportive environment provides students
          with the freedom to explore their artistic voice while building a
          professional-quality online portfolio.
        </p>
        <div class="center-items">
          <div class="cluster">
            <Button href="/classes" width="fit" theme="gradient">
              <span>See the classes</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="17"
                height="17"
                style="position: relative; top: -1px;"
                fill="#eee"
                viewBox="0 0 448 512"
              >
                <path
                  d="M443.3 267.3c6.2-6.2 6.2-16.4 0-22.6l-176-176c-6.2-6.2-16.4-6.2-22.6 0s-6.2 16.4 0 22.6L393.4 240 16 240c-8.8 0-16 7.2-16 16s7.2 16 16 16l377.4 0L244.7 420.7c-6.2 6.2-6.2 16.4 0 22.6s16.4 6.2 22.6 0l176-176z"
                ></path></svg
              >
            </Button>
            <Button href="/info" width="fit" theme="gradient">
              <span>Learn More</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="17"
                height="17"
                style="position: relative; top: -1px;"
                fill="#eee"
                viewBox="0 0 448 512"
              >
                <path
                  d="M443.3 267.3c6.2-6.2 6.2-16.4 0-22.6l-176-176c-6.2-6.2-16.4-6.2-22.6 0s-6.2 16.4 0 22.6L393.4 240 16 240c-8.8 0-16 7.2-16 16s7.2 16 16 16l377.4 0L244.7 420.7c-6.2 6.2-6.2 16.4 0 22.6s16.4 6.2 22.6 0l176-176z"
                ></path></svg
              >
            </Button>
          </div>
        </div>
      </article>
      <section id="student-work" class="">
        <h2 class="sr-only">Project List</h2>
        <HomeProjectGrid client:idle projects={homeProjects} />
      </section>
    </div>
  </main>
  <SiteFooter slot="footer" />
</Layout>

<style>
  .hero {
    position: relative;
    color: var(--color-neutral-light);
    padding-block-start: 9rem;
    padding-block-end: 6rem;
  }

  .hero h1 {
    position: relative;
    font-family: var(--font-secondary);
    font-size: var(--step-0);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: right;
    align-self: start;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    justify-self: center;
  }

  .hero .header-grid {
    margin-top: 3rem;
  }

  .hero .header-grid > :last-child {
    justify-content: start;
  }

  .hero > :last-child {
    justify-self: start;
  }

  .hero h1 > :first-child {
    font-weight: 400;
  }

  .hero .mobile-heading-wrapper {
    display: none;
    padding-inline: 0px;
    text-align: center;
    order: 2;
  }

  .hero .mobile-heading {
    display: none;
  }

  .hero .content-wrapper {
    position: relative;
    margin-block-end: var(--space-l);
  }

  .scroll {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin-inline: auto;
  }

  .scroll svg {
    width: 4rem;
    opacity: 0.4;
    fill: var(--color-neutral-light);
    transition: all 0.2s ease;
  }

  .scroll a:hover svg {
    opacity: 0.8;
    transform: scale(1.05);
  }

  .center-items {
    margin-top: var(--space-2xl) !important;
  }

  #about {
    padding-block: var(--space-3xl);
  }

  #about.flow {
    --flow-space: var(--space-xl);
  }

  .full-width-text {
    font-size: var(--step-4);
    font-family: var(--font-primary);
    color: var(--color-brand-secondary-light);
    padding-inline: var(--gutter);
    line-height: 1.55;
  }

  table {
    font-size: var(--step-3);
  }

  tr + tr td {
    padding-top: 1rem;
  }

  .link {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: var(--color-brand-secondary-light);
    font-family: var(--font-secondary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease;
    width: fit-content;
  }

  .link:hover {
    opacity: 0.8;
  }

  @media (max-width: 768px) {
    .hero .header-grid {
      /* grid-template-columns: 40px 1fr; */
      grid-template-columns: 1fr;
      gap: 3rem;
    }

    .hero h1 {
      order: 2;
      writing-mode: horizontal-tb;
      transform: rotate(0deg);
      text-align: center;
      align-self: center;
    }

    tr {
      display: flex;
      flex-direction: column;
    }

    td {
      width: 100%;
    }

    tr + tr td {
      padding-top: 0;
    }

    tr:not(:first-child) td:first-child {
      padding-top: 2rem;
    }
  }

  @media (max-width: 640px) {
    #about {
      padding-block: var(--space-xl);
    }

    .full-width-text {
      font-size: var(--step-1);
      max-width: none;
      line-height: 1.5;
    }

    table {
      font-size: var(--step-2);
    }

    .hero .heading {
      display: none;
    }

    .hero .mobile-heading-wrapper {
      display: block;
    }

    .hero .mobile-heading {
      display: inline-block;
      white-space: nowrap;
    }

    .center-items {
      margin-bottom: var(--space-l);
    }
  }
</style>

<script>
  import fitty from "fitty";
  const fitText = fitty(".hero .mobile-heading");
  const fitTextElement = fitText[0];

  const mediaQuery = window.matchMedia("(max-width: 640px)");
  if (mediaQuery.matches) {
    fitTextElement.fit();
  } else {
    fitTextElement.unsubscribe();
  }

  mediaQuery.addEventListener("change", (e) => {
    if (e.matches) {
      fitTextElement.fit();
    } else {
      fitTextElement.unsubscribe();
    }
  });
</script>
